/* Main Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: #FEFAE0;
    color: #1d1e20;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

/* Header */

header {
    background-color: #CCD5AE;
    padding-top: 25px;
    border-bottom: 1px solid #5E6472;
}

header .name-role {
    display: flex;
    width: 100%;
    justify-content: center;
}

header .name-role span {
    color: #35373b;
    padding: 15px;
}

header h1 {
    margin: 0;
    padding: 15px 20px;
    text-align: center;
    border-right: 3px solid black;
}

header h1 a {
    color: #35373b;
    text-decoration: none;
}

header h1 a:hover {
    color: #a19577;
    border-bottom: 2px solid #a19577;
}

header h1 a:visited {
    color: #35373b;
}

/* Navigation Bar */
#navbar {
    display: flex;
    width: 100%;
    background-color: #CCD5AE;
    padding-top: 15px;
    padding-bottom: 25px;
    justify-content: center;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.2s;
}

#navbar a:hover {
    background-color: #E9EDC9;
    color: black;
}

#navbar a.active {
    background-color: #E9EDC9;
    font-weight: 600;
}

#navbar a.active:hover {
    background-color: #d7e6b3;
}

/* Main Page Container */

#main-container {
    background: linear-gradient(to bottom, rgba(0,0,0,0.30), rgba(0,0,0,0.15)), url("images/background-img.jpg") center center fixed no-repeat;
    background-size: cover;
}

/* Flex Container */

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-container header {
    order: 1;
}

.flex-container #main-container,
.flex-container #container {
    order: 2;
    flex-grow: 1;
}

.flex-container footer {
    order: 3;
}

/* Hero Section */

#hero {
    padding: 75px 35px;
}

#hero-wrap {
    display: flex;
    max-width: 85%;
    margin: 25px auto;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0.75));
    border-radius: 15px;
    padding: 35px 50px;

}

/* Intro Section within Hero-Wrap */

#intro {
    font-size: 1.2em;
    color: #FEFAE0;
    font-weight: 400;
    margin: 0 5% 25px;
    order: 1;
    flex-basis: 50%;
    flex-grow: 1;
}

#intro h2 { font-size: 1.5em; }

#name {
    font-size: 1.65em;
    color: #d1c19a;
    font-weight: 500;
}

#intro-text {
    text-shadow: 2px 2px 4px #1d1e20;
    font-size: 1em;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 50px;
}

#intro a {
    padding: 20px 35px;
    background-color: #f5e4b8;
    border: none;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

#intro a:hover { background-color: #d1c19a; }

.arrow { margin-left: 15px; }

/* Self Portrait */

#self-portrait {
    max-height: 600px;
    flex-basis: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    order: 2;
    transition: 0.75s;
    border-radius: 15px;
}

#self-portrait .img-text {
    margin: 0;
    text-align: center;
    color: #FEFAE0;
    opacity: 75%;
    font-style: italic;
}

#self-portrait:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.6);
    transition: 1s;
}

#self-portrait img {
    width: auto;
    height: 600px;
    border-radius: 15px;
}

/* About Section */
#about {
    margin: 50px 15%;
}

#about h2 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5%;
}

#about h2 span {
    font-weight: 500;
    font-size: 1.05em;
}

.bio {
    margin-bottom: 5%;
}

.bio-title {
    margin-bottom: 25px;
}

.bio-text {
    border-left: 2px solid #1d1e20;
    padding-left: 25px;
}

.bio p {
    font-size: 1.15em;
    line-height: 1.5;
}

/* Cards Layout 1 */

.cards-layout-1 h2 {
    text-align: center;
    margin: 25px auto;
}

.cards-layout-1 p {
    margin-bottom: 25px;
}

.cards-layout-1 a {
    color: #1d1e20;
    font-size: 0.75em;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid #1d1e20;
    padding: 14px 25px;
    transition: 0.25s;
}

.cards-layout-1 a:hover {
    background-color: #d1c19a;
}

.cards-layout-1 .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 15px;
    min-width: 300px;
    border-top: 2px solid #35373b;
}

.cards-layout-1 .card-text {
    width: 55%;
    order: 1;
    padding-right: 15px;
}

.cards-layout-1 .card-title {
    font-size: 1.5em;
    color: #5E6472;
    font-weight: 700;
    margin-bottom: 10px;
}

.cards-layout-1 .card-content {
    font-size: 1.2em;
    line-height: 1.5;
}

.cards-layout-1 .card-image {
    width: 40%;
    align-content: center;
    justify-content: center;
    text-align: center;
    order: 3;
}

.cards-layout-1 .reversed .card-image {order: 1;}
.cards-layout-1 .reversed .card-text{order: 2;}
.cards-layout-1 .reversed .card-image img {
    width: 100%;
    height: auto;
}

.cards-layout-1 .card-image img{
    max-width: 100%;
    max-height: 250px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.75s;

}

.cards-layout-1 .card-image img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

#return-home {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
}

#return-home a {
    border: 2px solid #35373b;
    padding: 10px 25px;
    text-decoration: none;
    color: #1d1e20;
    transition: 0.3s;
}

#return-home a:hover {
    background-color: #d1c19a;
}

/* Hobbies Section */
#hobbies {
    margin: 50px 5%;
}

#hobbies h2 {
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #a19577;
    font-size: 2.5em;
}


/* Hobbies Card Layout */

.cards-layout-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.cards-layout-2 h3 {
    font-size: 1.3em;
}

.cards-layout-2 h3 span {
    font-size: 0.9em;
    color: #5E6472;
    font-weight: 300;
}

.cards-layout-2 .card {
    width: 30%;
    min-width: 450px;
    transition: 0.3s;
    margin: 5px auto;
    padding: 25px;
    flex-grow: 1;
}

.cards-layout-2 .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.cards-layout-2 .card-title {
    text-align: center;
    padding: 15px;
    background-color: #CCD5AE;
}

.cards-layout-2 .card-content {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.4;
}

.cards-layout-2 .card-image img {
    width: 100%;
    border-top: 5px solid #35373b;
    border-bottom: 5px solid #35373b;
    box-sizing: border-box;
    margin-bottom: 0;
}

#hobbies .img-text {
    text-align: center;
    background-color: #35373b;
    border-top: 2px solid #35373b;
    color: white;
    margin: 0;
}

/* Footer Styles */
footer {
    background-color: #CCD5AE;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 5vh;
    text-align: center;
    align-content: center;
    border-top: 1px solid #5E6472;
}

footer span {
    border-left: 2px solid #1d1e20;
    padding-left: 10px;
    margin-left: 10px;
}

footer a {
    color: #5E6472;
    text-decoration: none;
}

footer a:hover {border-bottom: 1px solid #5E6472; }