/* Main Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: #FEFAE0;
    color: #1d1e20;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

header {
    background-color: #CCD5AE;
    padding-top: 25px;
}

header .name-role {
    display: flex;
    width: 100%;
    justify-content: center;
}

header .name-role span {
    color: #35373b;
    padding: 15px;
}

header h1 {
    margin: 0;
    padding: 15px 20px;
    text-align: center;
    border-right: 3px solid black;
}

header h1 a {
    color: #35373b;
    text-decoration: none;
}

header h1 a:hover {
    color: #a19577;
    border-bottom: 2.5px solid #a19577;
}

header h1 a:visited {
    color: #35373b;
}

/* Navigation Bar */
#navbar {
    overflow: hidden;
    display: flex;
    width: 100%;
    background-color: #CCD5AE;
    padding-top: 15px;
    padding-bottom: 25px;
    /*border-bottom: solid 15px #E9EDC9;*/
    justify-content: center;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.2s;
}

#navbar a:hover {
    background-color: #E9EDC9;
    border-radius: 25px;
    color: black;
    transition: 0.3s;
}

#navbar a.active {
    background-color: #E9EDC9;
    border-radius: 25px;
    font-weight: 600;
}

#navbar a.active:hover {
    background-color: #d7e6b3;
}

/* Flex Container */

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-container header {
    order: 1;
    /*min-height: 25vh;*/
}

.flex-container #container {
    order: 2;
}

.flex-container footer {
    order: 3;
}

/* Hero Section */

#hero {
    padding: 75px 35px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.65)), url("images/background-img.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 70vh;
}

#hero-wrap {
    display: flex;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#intro {
    font-size: 1.2em;
    color: #FEFAE0;
    font-weight: 400;
    margin-right: auto;
    width: 40vw;
    order: 1;
    margin-bottom: 25px;
}

#intro-text {
    font-size: 1em;
    text-align: justify;
    line-height: 1.4;
}

#name {
    font-size: 1.5em;
    color: #5E6472;
    font-weight: 700;
}

#intro p {
    margin-bottom: 50px;
}

#intro a {
    /* margin-top: 5%; */
    padding: 20px 35px;
    background-color: #f5e4b8;
    border: none;
    border-radius: 15px;
    color: white;
}

#intro a:hover {
    background-color: #d1c19a;
    cursor: pointer;
}

#intro a{
    color: black;
    text-decoration: none;
}

/* Self Portrait */

#self-portrait {
    max-height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    order: 2;
    transition: 0.75s;
}
#self-portrait:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 1s;
}

#self-portrait img {
    width: auto;
    height: 600px;
}

/* About Section */
#about {
    margin: 50px 10%;
}

#about h2 {
    text-align: center;
}

#about h2 span {
    font-weight: 500;
    font-size: 1.05em;
}

.cards-layout-1 .card {
    display: flex;
    margin-top: 5%;
    padding: 10px 15px;
}

.cards-layout-1 .card .card-title {
    font-size: 1.5em;
    color: #5E6472;
    font-weight: 700;
    margin-bottom: 10px;
}

.cards-layout-1 .card-image img{
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    height: 250px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.75s;
}

.cards-layout-1 .card-image img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 0.75s;
}

/* Hobbies Section */
#hobbies {
    margin: 50px 5%;
}

#hobbies h2 {
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #a19577;
    font-size: 2.5em;
}

.cards-layout-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.cards-layout-2 h3 {
    font-size: 1.3em;
}

.cards-layout-2 h3 span {
    font-size: 0.9em;
    color: #5E6472;
    font-weight: 300;
}

.cards-layout-2 .card {
    width: 30%;
    transition: 0.3s;
    margin: 5px auto;
    /*border: 2px solid #a19577;*/
}

.cards-layout-2 .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.cards-layout-2 .card-title {
    text-align: center;
    padding: 15px;
    background-color: #CCD5AE;
}

.cards-layout-2 .card-content {
    margin: 0 15px;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.4;
}

.cards-layout-2 .card-image img {
    width: 100%;
    height: 30vh;
    border-top: 5px solid #35373b;
    border-bottom: 5px solid #35373b;
    box-sizing: border-box;
}

/* Footer Styles */
footer {
    background-color: #CCD5AE;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: auto;
    height: 5vh;
    text-align: center;
    align-content: center;
}