/* Main Styles */
body {
    font-family: "Opens Sans", sans-serif;
    background-color: #FEFAE0;
    color: #1d1e20;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Verdana", sans-serif;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

header {
    background-color: #CCD5AE;
}

header h1 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

header h1 a {
    color: #35373b;
    text-decoration: none;
}

header h1 a:hover {
    color: #a19577;
    border-bottom: 2.5px solid #a19577;
}

header h1 a:visited {
    color: #35373b;
}

/* Flex Container */

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container header {
    align-items: flex-start;
    flex: 1;
    max-height: 10vh;
}

.flex-container #container {
    flex: 2;
    flex-grow: 1;
    flex-basis: auto;
}

.flex-container footer {
    align-items: flex-end;
    flex: 3;
}

/* Navigation Bar */
#navbar {
    overflow: hidden;
    display: flex;
    background-color: #CCD5AE;
    padding-top: 15px;
    border-bottom: solid 15px #E9EDC9;
    justify-content: center;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #E9EDC9;
    color: black;
}

#navbar a.active {
    background-color: #E9EDC9;
    color: black;
    text-decoration: underline;
}

/* Hero Section */

#hero {
    padding: 75px 35px;
    width: 75%;
    margin: 7% auto;
    display: flex;
}

#intro {
    font-size: 1.2em;
    color: #35373b;
    font-weight: 400;
    margin-right: auto;
}

#intro-text {
    width: 75%;
}

#name {
    font-size: 1.5em;
    color: #5E6472;
    font-weight: 700;
}

/* Self Portrait */

#self-portrait {
    /* width: 100%; */
    height: 40vh;
    min-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.75s;
}
#self-portrait:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 1s;
}

#self-portrait img {
    width: auto;
    height: 100%;
}

#intro p {
    margin-bottom: 50px;
}

#intro a {
    /* margin-top: 5%; */
    padding: 20px 35px;
    background-color: #f5e4b8;
    border: none;
    border-radius: 15px;
    color: white;
}

#intro a:hover {
    background-color: #d1c19a;
    cursor: pointer;
}

#intro a{
    color: black;
    text-decoration: none;
}

/* About Section */
#about {
    margin: 50px 10%;
}

#about h2 {
    text-align: center;
}

#about h2 span {
    font-weight: 500;
    font-size: 1.05em;
}

.cards-layout-1 .card {
    display: flex;
    margin-top: 5%;
    padding: 10px 15px;
}

.cards-layout-1 .card .card-title {
    font-size: 1.5em;
    color: #5E6472;
    font-weight: 700;
    margin-bottom: 10px;
}

.cards-layout-1 .card-image img{
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    height: 250px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.75s;
}

.cards-layout-1 .card-image img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 0.75s;
}

/* Hobbies Section */
#hobbies {
    margin: 50px 10%;
}

#hobbies h2 {
    text-align: center;
}

.cards-layout-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding: 10px 15px;
}

.cards-layout-2 .card {
    width: 30%;
    transition: 1s;
    padding-left: 10px;
    padding-right: 10px;
}

.cards-layout-2 .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.75s;
}

.cards-layout-2 .card-image img {
    width: auto;
    height: 300px;
    transition: 0.75s;
}

/* Footer Styles */
footer {
    background-color: #CCD5AE;
    padding: 10px 0;
    margin-top: auto;
    max-height: 3vh;
    text-align: center;
}