body {
    font-family: "Opens Sans", sans-serif;
    background-color: #FEFAE0;
    color: #1d1e20;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #CCD5AE;
    padding: 20px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    display: flex;
    background-color: #CCD5AE;
    padding-top: 15px;
    border-bottom: solid 15px #E9EDC9;
}

#navbar #navbar-name {
    font-weight: 700;
    color: #35373b;
    margin-right: auto;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #E9EDC9;
    color: black;
}

#navbar #navbar-name:hover {
    background-color: transparent;
    color: #35373b;
}

#navbar a.active {
    background-color: #E9EDC9;
    color: black;
}

/* Hero Section */

#hero {
    padding: 75px 35px;
    width: 75%;
    margin: 10% auto;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05); */
    display: flex;
    /* background-color: #FED9B7; */
}

#intro {
    font-size: 1.2em;
    color: #35373b;
    font-weight: 400;
    margin-right: auto;
}

#intro-text {
    width: 75%;
}

#name {
    font-size: 1.5em;
    color: #5E6472;
    font-weight: 700;
}

#self-portrait {
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.75s;
}
#self-portrait:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 1s;
}

#intro a button {
    margin-top: 3%;
    padding: 20px 35px;
    background-color: #f5e4b8;
    border: none;
    border-radius: 15px;
    color: white;
}

#intro a button:hover {
    background-color: #d1c19a;
    cursor: pointer;
}

#intro a button{
    color: black;
    text-decoration: none;
}

/* Hobbies Section */
#hobbies {
    margin: 50px 10%;
}

#hobbies h2 {
    text-align: center;
}

/* Cards Styles */

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding: 10px 15px;
}

.card {
    width: 30%;
    transition: 1s;
    padding-left: 10px;
    padding-right: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.75s;
}

.card-image img {
    width: auto;
    height: 300px;
    transition: 0.75s;
}

/* Footer Styles */
footer {
    background-color: #CCD5AE;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}